* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: #0f0f14;
  color: white;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.dates {
  color: #ff0000;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
}

.dates span {
  font-size: 12px;
  color: #aaa;
}

.progress-bar {
  width: 100%;
  height: 16px;
  background: #2a2a35;
  border-radius: 8px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  transition: width 0.05s linear;
}

#progressText {
  text-align: center;
  margin: 8px 0 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
}

.stats div {
  background: #1c1c25;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
}

.buttons button {
  width: relative;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #ff4d6d;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#formOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

#formOverlay.hidden {
  display: none;
}

.form {
  background: #1c1c25;
  padding: 20px;
  border-radius: 14px;
  width: 90%;
  max-width: 320px;
}

.form h3 {
  font-size: 30px;
  text-align: center;
}

.form button,
.form input {
  width: 49%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#fColor {
  padding: 0;
}

/* ---------- Mobile Optimierung ---------- */
@media (max-width: 480px) {

  body {
    background: linear-gradient(180deg, #0f0f14, #12121a);
  }

  /*
  .container {
    padding: 1px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  */

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 16px;
  }

  .dates {
    gap: 10px;
    font-size: 1.2rem;
  }

  .dates div {
    flex: 1;
  }

  .progress-bar {
    height: 18px;
    margin-top: 10px;
  }

  #progressText {
    font-size: 3.5rem;
    font-weight: 600;
    opacity: 0.9;
  }

  .stats {
    gap: 10px;
  }

  .stats div {
    padding: 14px 8px;
    border-radius: 14px;
  }
}
